@import 'import.scss';
/*reset*/
html{
    font-size:20px;
    line-height:1.6;
}
*{
    margin:0;
    padding:0;
    border:none;
}
img{
    vertical-align: middle;
    border:none;;
}
a,
a:any-link{
    display: inline-block;
    text-decoration:none;
    outline: none;
    color:#030303;
}
a:focus,
a:hover,
a:active{
    text-decoration: none;
    outline: none;
}
ul li{
    list-style:none;
}
b, strong{
    font-weight:900;
}

/*list*/
.list-dot{
    @include listStyle('dot');
}
.list-dash{
    @include listStyle('dash');
}
.list-etc{
    @include listStyle('etc');
}

/*text*/
.tc{
    text-align:center;
}
.tr{
    text-align:right;
}
.tl{
    text-align:left;
}
.listNum{
    font-size:10px;
    font-weight:100;
}
.pageTitle{
    font-size:20px;
    font-weight:700;
}
.titleTxt_h1{
    font-size:17px;
    font-weight:600;
    word-break:keep-all;
}
.conSubTitle{
    font-size:15px;
    font-weight: 900;
}
.sub_txt{
    font-size:15px;
    color: #545454;
    word-break:keep-all;
}
.smallTxt{
    font-size:12px;
    font-weight: 100;
}
/*width*/
.w_100{
    width:100%;
}
.w_50{
    width:50%;
}
.w_40{
    width:40%;
}
.w_33{
    width:33.33%;
}
.w_30{
    width:30%;
}
.w_25{
    width:25%;
}
.w_20{
    width:20%;
}
.w_16{
    width:16.66%
}

/*layer*/
.fl{
    float:left;
}
.fr{
    float:right;
}
.pull-over{
    overflow:hidden;
}
.div-table{
    @include tableWrap(100%);
}

/*btn*/
.btn{
    display:block;
    box-sizing:border-box;
    line-height:100%;
    &.btn-s{
        font-size:15px;
    }
    &.btn-m{
        font-size:16px;
        padding:5px 10px;
    }
}
.viewBtn{
    border:1px solid #d1eeff;
    background:#d1eeff;
    color:#295ca8;
    &:hover{
        border:1px solid #295ca8;
        background:#fff;
        color:#295ca8
    }
}