.mainContainer {
  width: 100%;
  padding: 30px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-family: "paybook";
  font-size: 15px;
}

.contantArea {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

.header {
  border-bottom: 1px solid #dbdbdb;
}

.topArea {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.topArea ul li {
  float: left;
  width: 50%;
}

.topArea ul li img {
  width: 100%;
}

.topArea ul li a {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  font-family: "paybook";
  font-weight: 600;
  text-align: center;
}

.topArea ul li a.selected {
  color: #1690d7;
  font-weight: 900;
}

.topArea ul li a:after {
  position: absolute;
  display: block;
  width: 0;
  height: 4px;
  content: '';
  left: 0;
  bottom: 0;
  background: #badcf0;
  transition: all .5s;
}

.topArea ul li a.selected:after, .topArea ul li a:hover:after {
  width: 100%;
  font-weight: 900;
  transition: all .5s;
}

.cmList {
  width: 100%;
}

.cmList li {
  width: calc(50% - 10px);
  margin: 5px 20px 25px 0;
  padding: 0 4%;
  box-sizing: border-box;
}

.cmList li:nth-child(2n) {
  margin-right: 0;
}

.cmList li .imgArea {
  width: 100%;
  height: 330px;
  overflow: hidden;
  padding: 0 0 10px;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
}
