
@import 'import.scss';

.container{
    width:100%;
    margin:0 auto;
    overflow:hidden;
    font-family: $cmFont;
    font-size:$cmFontSize;
}
.contantArea{
    @include cmWidth(1000px);
    border:1px solid red;
}

.topArea{
    @include cmWidth(1000px);
    ul li{
        float:left;
        width:25%;
        a{
            width:100%;
            padding:10px 0;
            font-size:15px;
            font-family:$cmSubFont;
        }
    }
}

.cmList {
    width:100%;
    li{
        width:calc(50% - 10px);
        margin:5px 20px 5px 0;
        img{
            margin:10px auto;
            width:80%;
        }
        &:nth-child(2n){
            margin-right:0;
        }
    }
}